<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d [%thread] %-5level %logger{35}:%line - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/slow-operations-profiler.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/slow-operations-profiler.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d [%thread] %-5level %logger{25}:%line - %msg%n</pattern>
		</encoder>
	</appender>

    <logger name="de.idealo.mongodb.slowops" level="info"  additivity="false">
        <appender-ref ref="FILE_ALL" />
        <appender-ref ref="STDOUT" />
    </logger>

  <root level="warn">
    <appender-ref ref="FILE_ALL" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>