<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mongodb-slow-operations-profiler</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>de.idealo.mongodb.slowops.collector.StartStopHook</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SlowOps</display-name>
    <servlet-name>SlowOps</servlet-name>
    <servlet-class>de.idealo.mongodb.slowops.servlet.SlowOps</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Collector</display-name>
    <servlet-name>Collector</servlet-name>
    <servlet-class>de.idealo.mongodb.slowops.servlet.Collector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SlowOps</servlet-name>
    <url-pattern>/gui/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Collector</servlet-name>
    <url-pattern>/status/*</url-pattern>
  </servlet-mapping>
</web-app>