<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>mongodb-slow-operations-profiler</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>de.idealo.mongodb.slowops.collector.StartStopHook</listener-class>
  </listener>
  <servlet>
    <display-name>SlowOps</display-name>
    <servlet-name>SlowOps</servlet-name>
    <servlet-class>de.idealo.mongodb.slowops.servlet.SlowOps</servlet-class>
  </servlet>
  <servlet>
    <display-name>ApplicationStatus</display-name>
    <servlet-name>ApplicationStatus</servlet-name>
    <servlet-class>de.idealo.mongodb.slowops.servlet.ApplicationStatus</servlet-class>
  </servlet>
  <servlet>
    <display-name>CommandResult</display-name>
    <servlet-name>CommandResult</servlet-name>
    <servlet-class>de.idealo.mongodb.slowops.servlet.CommandResult</servlet-class>
  </servlet>
  <servlet>
    <display-name>SlowOpExample</display-name>
    <servlet-name>SlowOpExample</servlet-name>
    <servlet-class>de.idealo.mongodb.slowops.servlet.SlowOpExample</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>de.idealo.mongodb.slowops.servlet</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SlowOps</servlet-name>
    <url-pattern>/gui/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApplicationStatus</servlet-name>
    <url-pattern>/app/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommandResult</servlet-name>
    <url-pattern>/cmd/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SlowOpExample</servlet-name>
    <url-pattern>/slowop/*</url-pattern>
  </servlet-mapping>

</web-app>